<h1 class='text-center'><%= t '.title' %></h1>

  <% if @user.errors.any? %>
    <div class="alert alert-warning">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>|

