<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ログイン | RUNTEQ BOARD APP(管理画面)</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="hold-transition login-page">
  <div>
  <%= render "shared/flash_message" %>
    <%= yield %>
  </div>
</body>
</html>

    